/* body{
    background-color:royalblue
} */

.form-outer{
    display: flex;
    width: 70%;
    height: 100%;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

.form-outer .form-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .form-inner input{
    width: 100%;
    height: 30px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 0 10px;
   margin-bottom: 10px;

} */

.form-inner label {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.form-inner button{
    width: 100%;
    height: 2.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    background-color: #4acf50;
    color:white;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 0.625rem;
}

.inputtag{
    width: 100%;
    height: 1.875rem;
   border: 0.0625rem solid #ccc;
   border-radius: 5px;
   padding: 0 0.625rem;
   margin-bottom: 0.625rem;
}


@media (max-width:30.75rem){

    .form-outer h1 {
        font-size: 100% ;
        margin-top:  0.55rem ;
    }

    .form-inner label {
        font-size: 1rem;
        
    }

    .inputtag{
        width: 70%;
        height: 1.275rem;
       border: 0.0325rem solid #ccc;
       border-radius: 0.325rem;
       padding: 0 0.225rem;
       margin-bottom: 0.125rem;
    }
    
    .form-inner button{
        width: 80%;
        height: 1.55rem;
        border: 0.0425rem solid #ccc;
        border-radius: 0.2125rem;
        background-color: #4acf50;
        color:white;
        font-size: 0.85rem;
        cursor: pointer;
        margin: 0.325rem;
        
    }
.form-outer {
    
    align-items: center;
}

.form-inner{
    margin: 1rem 1rem 1rem 2rem;
}

#brand{
    height: 1.275rem;
    width: 73%;
}





 
}
