.container{
       width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}


.header-name{
    text-align: center;
    
    color:red;
    margin: 2rem;
}

.order-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    overflow: hidden;
}

.order-s1-in {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.order-s1-in select {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid red;
}

.order-s1-in p {
    margin: 0px;
    font-size: 12px;
    color: red;
}

.search-bar {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
box-shadow: 0px 0px 10px grey;
width: 500px;
border-radius: 30px;
border: 1px solid red;
margin-right: 20px;
}
.order-head1{
    font-size: 40px;
    font-weight: 200;
    color: red;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.order_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    
}

.order-row_card1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px grey;
    margin: 10px 0px;
    width: 90%;
    border-radius: 10px;
}

.order-row_card1 button {
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    
    margin: 0px 10px;

}

.order-row_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px grey;
    margin: 10px 0px;
    width: 90%;
    border-radius: 10px;
}

.order-row_card button {
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 10px;
}

.orderinput {
    width: 20%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
}

.in {
    color: #293dcd;
    font-weight: bold;
}
.out {
    color: #eb5809;
}


@media (max-width:30.75rem){

    
.order-head1{
    text-align: center;
    font-size: 100%;
    color:red;
    margin: 1rem;
}

.order-s1{
    display: flex;
    flex-direction: row;
margin: 1rem 1rem 1rem 1rem;
}

.order-s1-in{
    width: 30%;
}

.search-bar{
    width: 70%;
    
}
#inputsort{
    width: 100%;
}
.order-row_card1{
    font-size: 50%;
}
.order-row_card{
    font-size: 50%;
}
button{
font-size: 1rem;
}
}